.footer {
    background-color: #004045;
    color: white;
    padding: 1% 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    flex: 1;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer__branding {
    flex: 1 1 250px;
    margin-bottom: 20px;
    /* padding-top: 1%; */
  }

  .footer__branding *{
    margin: 2.5% 0%;
  }

  .footer__branding p{
    font-size: .7em;
    opacity: .7;
}
  
  .footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
  }
  
  .footer__logo h2 {
    margin: 0;
  }
  
  .footer__socials a {
    margin-right: 10px;
    font-size: .9em;
    color: white;
  }
  
  .footer__section {
    flex: 1 1 150px;
    margin-bottom: 20px;
  }
  
  .footer__section h4 {
    margin-bottom: 10px;
    font-size: .8em;
    /* font-weight: bold; */
  }
  
  .footer__section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .7em;
  }

  
  .footer__section ul li {
    margin-bottom: 8px;
  }
  
  .footer__section ul li a {
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease;
  }
  
  /* .footer__section ul li a:hover {
    opacity: 0.7;
  } */
  
  .footer__subscribe {
    flex: 1 3 250px;
    margin-bottom: 20px;
  }
  
  .footer__input-group {
    display: flex;
    background-color: #2e6d6c;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .footer__input-group input {
    flex: 1;
    /* padding: 10px; */
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 5%;
  }

  .footer__input-group input::placeholder {
    color: #fff;
    opacity: .5;
    font-weight: 100;
  }
  
  .footer__input-group button {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .footer__input-group i {
    font-size: 16px;
  }
  